# AWS Credentials for S3 Service
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=s3-test-01-navaneeth
AWS_S3_ENDPOINT=
AWS_FORCE_PATH_STYLE=false
